@media screen and (max-width: 480px) and (min-width: 300px) {
  .central-section {
    width: 100%;
    display: block;
    padding: 2rem 5rem;
  }
  h2 {
    font-size: 20px;
    width: 100%;
  }

  h1 {
    font-size: 20px;
    width: 100%;
  }
  br {
    display: none;
  }
  p {
    font-size: 18px;
    width: 100%;
  }
  .central-section:nth-child(odd) {
    width: 100%;
    display: block;
    padding: 2rem 5rem;
  }

  h3 {
    font-size: 20px;
    width: 100%;
  }
}
